<div class="container-fluid">
	<h1>Entrer un nouveau plat</h1>
	<div class="row">
		<div class="col-md-8">
			<form class="plats">
				<div class="form-group">

					<input type="text" class="form-control" id="inputPlat" placeholder="Plat" ng-model="meal">
					<input type="text" class="form-control" id="inputIngredient" placeholder="Ingrédients (ex:tomate, sel, etc...)" ng-model="ingredients">
					<select class="form-control" ng-model="category" id="inputCat">
					    <option value="entrée">entrée</option>
					    <option value="plat">plat</option>
					    <option value="dessert">dessert</option>
					</select>
					<input type="text" class="form-control" id="inputRec" placeholder="La recette" ng-model="recipe">
				</div>
				<div class="form-group">

					<input type='file' ng-model='imageFile' base-sixty-four-input onchange="angular.element(this).scope().previewFile(this)">
					<img id="preview">

				</div>

				<button type="submit" class="btn btn-default" ng-click="add()">Ajouter</button>

			</form>
		</div>
		<div class="class col-md-12">
			<hr>
			<h1>{{title}}</h1>
		</div>
		<div class="col-md-12">
			<ul class="list-group blue">
				<li class="list-group-item" ng-repeat="dish in dishs">
					<form class="form-inline">
						<div class="form-group">
							<input type="text" class="form-control" id="inputMessage" ng-model="dish.meal">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="inputMessage" ng-model="dish.ingredients">
						</div>
						<select ng-model="dish.category" class="form-control" id="inputCat">
						    <option selected value="entrée">entrée</option>
						    <option value="plat">plat</option>
						    <option value="dessert">dessert</option>
						</select>

						<div class="form-group">
							<input type="text" class="form-control" id="inputMessage" ng-model="dish.recipe">
						</div>
						<div class="form-group">
							<img class="imgAdd" src="{{dish.image}}">
						</div>
						<div class="pull-right form-inline">
						    <div class="btn-group" role="group">
								<!-- Etoile 1 -->
								<button ng-show="dish.stars>=1" ng-click="dish.stars=1;update(dish)" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
								<button ng-show="dish.stars<1" ng-click="dish.stars=1;update(dish)" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								</button>
								<!-- Etoile 2 -->
								<button ng-show="dish.stars>=2" ng-click="dish.stars=2;update(dish)" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
								<button ng-show="dish.stars<2" ng-click="dish.stars=2;update(dish)" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								</button>
								<!-- Etoile 3 -->
								<button ng-show="dish.stars>=3" ng-click="dish.stars=3;update(dish)" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
								<button ng-show="dish.stars<3" ng-click="dish.stars=3;update(dish)" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								</button>
								<!-- Etoile 4 -->
								<button ng-show="dish.stars>=4" ng-click="dish.stars=4;update(dish)" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
								<button ng-show="dish.stars<4" ng-click="dish.stars=4;update(dish)" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								</button>
								<!-- Etoile 5 -->
								<button ng-show="dish.stars>=5" ng-click="dish.stars=5;update(dish)" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
								<button ng-show="dish.stars<5" ng-click="dish.stars=5;update(dish)" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								</button>
							</div>
							<button type="submit" class="btn btn-default" ng-click="update(dish)">Maj</button>
							<button type="submit" class="btn btn-danger" ng-click="delete(dish)">X</button>
						</div>
		</div>

		</li>
		</ul>

	</div>
</div>
</div>
