<div class="container-fluid">
	<h1>Entrer un nouveau plat</h1>
	<div class="row">
		<div class="col-md-8">
			<form class="plats">
				<div class="form-group">

					<input type="text" class="form-control" id="inputPlat" placeholder="Plat" ng-model="meal">
					<input type="text" class="form-control" id="inputIngredient" placeholder="Ingrédients (ex:tomate, sel, etc...)" ng-model="ingredients">
				</div>
				<div class="form-group">

					<input type='file' ng-model='imageFile' base-sixty-four-input onchange="angular.element(this).scope().previewFile(this)">

				</div>
				<img id="preview">

				<button type="submit" class="btn btn-default" ng-click="add()">Ajouter</button>

			</form>
		</div>
		<div class="class col-md-12">
			<hr>
			<h1>{{title}}</h1>
		</div>
		<div class="col-md-12">
			<ul class="list-group blue">
				<li class="list-group-item" ng-repeat="dish in dishs">
					<form class="form-inline">
						<div class="form-group">
							<input type="text" class="form-control" id="inputMessage" ng-model="dish.meal">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="inputMessage" ng-model="dish.ingredients">
						</div>
						<div class="form-group">
							<img class="imgAdd" src="{{dish.image}}">
						</div>

						<div class="pull-right form-inline">
							<button type="submit" class="btn btn-default" ng-click="update(dish)">Maj</button>
							<button type="submit" class="btn btn-danger" ng-click="delete(dish)">X</button>
						</div>
		</div>

		</li>
		</ul>

	</div>
</div>
</div>