<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8">
    	<title>Liste des plats</title>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    	<script src="./root.js"></script>
    </head>
    <body ng-app="root">
    	<div ng-controller="index">
			<div><input type="checkbox" ng-model="isFirstElementVisible" /> Is first element visible</div>
			<div><input type="checkbox" ng-model="isSecondElementVisible" /> Is second element visible</div>
			<div ng-show="isFirstElementVisible">First Element</div>
			<div ng-if="isSecondElementVisible">Second Element</div>
		</div>

		
    </body>
</html>